In [1]:
print("this is my first python programme")

this is my first python programme

In [2]:
"""hghdfjsdgfj
jdhgfjhdsf
ddhfhdbfd
dnd"""

'hghdfjsdgfj\njdhgfjhdsf\nddhfh,dbfd\ndnd'

In [3]:
a=10

In [4]:
a

10

In [5]:
type(a)

int

In [6]:
b='sudh'

In [7]:
b

'sudh'

In [8]:
type(b)

str

In [9]:
print(True+True+True+False+True)

4

In [11]:
str(1)+'sudh'

'1sudh'

In [17]:
'sudh'+'sudh'+'sudh'

'sudhsudhsudh'

In [21]:
"sudh"*2

'sudhsudh'

In [25]:
a=input('name:')

name:radhika

In [26]:
type(a)

str

In [31]:
x=int(input("num1"))
y=int(input("num2"))
z=int(input("num3"))

num11
num24
num36

In [32]:
a=x+y/z

In [33]:
print(a)

1.6666666666666665

In [34]:
print(str(a)+'radhika')

1.6666666666666665radhika

input a number less than 34: 22

In [50]:
a=int(input('input a number less than 34: '))
if a<=34:
    print('data input is lesser than 34 and i am fine with it!')
elif a<100:
    print('thik hai')
else:
    print('bhaag')

input a number less than 34: 78
thik hai

In [61]:
salary=int(input('enter your salary '))
if salary>1000:
    print('buy a car')
    if salary<5000:
        print('go with car nano')
    elif salary<10000:
        print('go with maruti')
    elif salary<50000:
        print('go with toyota')
elif salary>500:
    print('go for bike')
elif salary>100:
    print('i will not buy any thing')
else :
    print('go for saving')

enter your salary 10056
buy a car
go with toyota

In [63]:
pwd

'C:\\Users\\SHIVAM'